Parámetros:


*   Data inputs
*   Columnas IDs

In [23]:
file = "C:/Users/Sebastian/Desktop/LOOKALIKE/lookalike_models/notebooks/data/endei_clu.csv"
id_cols = []

In [24]:
import numpy as np
import pandas as pd
import datetime
import os
import sys
import lkmodels

#### Import data

In [25]:
print(f'START --- {datetime.datetime.now()}')

df = pd.read_csv(file)
df.head()

START --- 2023-03-12 19:19:33.018655

,cluster,vd,capac_prod,prac_empre,abs_ih,prop_calif,gest_rrhh,orga_tec,prop_capac,vinc_inst,...,rama_act,exporta,innovo,ing,dai,did,empleo,tc.va.tr,tc.empleo,tc.ventas
0,4,False,3,3,2,12.551345,3,3,85.333333,2,...,Alimentos,0,1,2.944571e+08,1,0,NaN,79.016367,NaN,38.49489
1,4,False,3,3,2,22.258798,3,3,33.333333,3,...,Otras,1,1,2.944571e+08,1,0,NaN,73.804878,NaN,38.49489
2,1,False,0,0,1,32.752755,3,3,100.000000,0,...,Alimentos,0,0,2.944571e+08,1,0,NaN,26.573228,NaN,38.49489
3,4,False,3,3,3,26.323385,3,3,36.666667,3,...,Otros minerales no metalicos,1,0,2.944571e+08,1,0,NaN,82.359615,NaN,38.49489
4,4,True,3,2,3,22.042281,3,3,0.000000,2,...,Frigorificos,1,1,2.944571e+08,1,1,NaN,29.324533,NaN,38.49489

In [26]:
df_seed = df[df.vd == True].drop('vd', axis=1)
df_poblacion = df[df.vd == False].drop('vd', axis=1)

#### Explore

In [27]:
print(df_poblacion.columns)

Index(['cluster', 'capac_prod', 'prac_empre', 'abs_ih', 'prop_calif',
       'gest_rrhh', 'orga_tec', 'prop_capac', 'vinc_inst', 'd_especinsum',
       'd_especproce', 'd_trazabilidad', 'd_problemas', 'd_mejoracont',
       'd_diseno', 'd_deptoid', 'd_montcomp', 'd_montec', 'prop_prof',
       'prop_tec', 'd_rrhhdto', 'd_perffor', 'd_evaldes', 'd_sistemas',
       'd_sapoydec', 'd_softgest', 'capacit_nojer', 'capacit_ger',
       'capacit_sup', 'd_vincpub', 'd_vincfir', 'd_vincase', 'tam_mue',
       'k_inac', 'rama_act', 'exporta', 'innovo', 'ing', 'dai', 'did',
       'empleo', 'tc.va.tr', 'tc.empleo', 'tc.ventas'],
      dtype='object')

In [28]:
print(df_seed.shape)
print(df_poblacion.shape)

(627, 44)
(3315, 44)

In [29]:
print(set(df_seed.columns) - set(df_poblacion.columns))
print(set(df_poblacion.columns) - set(df_seed.columns))

set()
set()

Validar que la semilla tenga menos observaciones que la población. Esto es una restricción de la función de bagging por el momento.

In [30]:
print(df_seed.shape[0] < df_poblacion.shape[0])

True

#### Transformaciones

In [31]:
common_columns = set(df_seed.columns).intersection(set(df_poblacion.columns))
# keep columnas en comun y numericas
X_seed = df_seed[common_columns].select_dtypes(['number'])
X_poblacion = df_poblacion[common_columns].select_dtypes(['number'])
# add ID_VARS si quedaron fuera
# if not set(X_seed.columns).intersection(set(ID_COLS)):
#   X_seed = pd.contact([df_seed[ID_COLS], X_seed], axis = 1)
# if not set(X_seed.columns).intersection(set(ID_COLS)):
#   X_seed = pd.contact([df_seed[ID_COLS], X_seed], axis = 1)

C:\Users\Sebastian\AppData\Local\Temp\ipykernel_13468\3856438857.py:3: FutureWarning: Passing a set as an indexer is deprecated and will raise in a future version. Use a list instead.
  X_seed = df_seed[common_columns].select_dtypes(['number'])
C:\Users\Sebastian\AppData\Local\Temp\ipykernel_13468\3856438857.py:4: FutureWarning: Passing a set as an indexer is deprecated and will raise in a future version. Use a list instead.
  X_poblacion = df_poblacion[common_columns].select_dtypes(['number'])

#### Save

In [32]:
# save
if not os.path.exists('data'):
  os.makedirs('data')
X_seed.to_pickle('data/X_seed.pkl')
X_poblacion.to_pickle('data/X_poblacion.pkl')

In [ ]:
print(f'END --- {datetime.datetime.now()}')